<!doctype html>
<html>

  <head>
    <title>Charmed Nightlife</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta lang='en' />
    <meta name='theme-color' content='#08080e'>
  <link href="styles/main+700a09765b3564f57a0a7267991570e9.min.css" rel="stylesheet"></head>

  <body>
    <header>
      Charmed Nightlife Coordination App
    </header>
    <main>
      <div id='app' />
    </main>
    <footer>
    </footer>
  <script type="text/javascript" src="js/bundle.min.js"></script></body>

</html>
