body {
    overflow-x: hidden;
}

#results {
  width: 100%;
  margin: 0;
}

/*Doesn't work? */
/*
.result-wrapper {
  transition-duration: 600ms;

  .loading:nth-child(odd) {
    -webkit-transform: translate(100%);
            transform: translate(100%);

            .result {
              background: orange;
            }
  }

  .loading:nth-child(even) {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);

            .result {
              background: yellow;
            }
  }
}
*/

.result-wrapper {
    transition-duration: 600ms;
}


.result-wrapper.loading:nth-child(odd) {
    transform: translate(100%);
    -webkit-transform: translate(100%);
}

.result-wrapper.loading:nth-child(even) {
    transform: translate(-100%);
    -webkit-transform: translate(-100%);
}

.result-wrapper:nth-child(odd) .result {
    background: orange;
}

.result-wrapper:nth-child(even) .result {
    background: red;
}

.result {
    content: "";
    display: block;
    margin: auto;
    width: 50%;
    height: 20px;
}
