body {
    overflow-x: hidden;
}

.result-wrapper {
    transition-duration: 600ms;
}

.result-wrapper.loading:nth-child(odd) {
    transform: translate(100%);
    -webkit-transform: translate(100%);
}

.result-wrapper.loading:nth-child(even) {
    transform: translate(-100%);
    -webkit-transform: translate(-100%);
}

.result-wrapper:nth-child(odd) .result {
    background: orange;
}

.result-wrapper:nth-child(even) .result {
    background: red;
}


.result {
    content: "";
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}
