@import '_variables.scss';

@media screen and (max-width: 800px) {
  body {
    background: $red url('../img/club-800x500.jpg') fixed center top;
  }
  .title {
    font-size: 32px;
  }
  .scene {
    font-size: 24px;
  }
  input {
    width: 70vw;
  }
  .result {
    width: 80vw;
  }
}
@media screen and (min-width: 801px) {
  body {
    background: $red url('../img/club-1200x750.jpg') fixed center top;
  }
}
@media screen and (min-width: 1201px) {
  body {
    background: $red url('../img/club-1920x1200.jpg') fixed center top;
  }
}
