//FONTS -- Can't import!
/*@font-face {
  font-family: 'Architects Daughter';
  src: url('../fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Luckiest Guy';
  src: url('../fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
*/
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Luckiest+Guy');
$arch: 'Architects Daughter', cursive;
$luck: 'Luckiest Guy', cursive;

//COLORS
$b: #56c0dd;
$dark: #222222;
$light: #f6f7ea;
$red: #d32323;

//MIXINS
@mixin tshadow($color) {
  text-shadow: 0 0 3px $color, 1px 1px $color, -1px -1px $color, 1px -1px $color,
    -1px 1px $color;
}

@mixin bshadow($color) {
  -webkit-box-shadow: 0 0 3px $color, 1px 1px $color, -1px -1px $color,
    1px -1px $color, -1px 1px $color;
  box-shadow: 0 0 3px $color, 1px 1px $color, -1px -1px $color, 1px -1px $color,
    -1px 1px $color;
}
