//FILES
@import '_github-btn.scss';
@import '_results.scss';
@import '_variables.scss';
@import '_yelp.scss';

//MAIN
body {
  background: $red url('../img/club.jpg') fixed center top;
  color: $dark;
  text-align: center;
}

.title {
  color: $b;
  font-family: $luck;
  font-size: 60px;
  @include tshadow($dark);
}

.scene {
  color: $light;
  font-family: $luck;
  font-size: 40px;
  @include tshadow($dark);
}

input {
  border-radius: 4px;
  height: 24px;
  width: 50vw;
  box-shadow: inset 0 0 3px $dark;
}

.go {
  background: $red;
  border-radius: 50px;
  @include bshadow($dark);
  font-family: $arch;
  font-size: 20px;
  font-weight: 600;
  height: 40px;
  margin-bottom: -2px;
  margin-left: -8px;
}
