//IMPORTS except MEDIA OVERRIDES
@import '_github-btn.scss';
@import '_results.scss';
@import '_slide-override.scss';
@import '_variables.scss';
@import '_yelp.scss';

//MAIN
body {
  background: $red url('../img/club-1920x1200.png') fixed center top;
  background-size: cover;
  color: $dark;
  text-align: center;
}

.title {
  color: $b;
  font-family: $luck;
  font-size: 54px;
  @include tshadow($dark);
}

.scene {
  color: $light;
  font-family: $luck;
  font-size: 40px;
  @include tshadow($dark);
}

input {
  border-radius: 4px;
  font-family: $arch;
  font-size: 24px;
  height: 32px;
  width: 50vw;
  -webkit-box-shadow: inset 0 0 3px $dark;
  box-shadow: inset 0 0 3px $dark;
}

.go {
  background: $red;
  border-radius: 50px;
  @include bshadow($dark);
  font-family: $arch;
  font-size: 24px;
  font-weight: 600;
  height: 48px;
  margin-bottom: -4px;
  margin-left: -10px;
  cursor: pointer;
}

//MEDIA OVERRIDES
@import '_media.scss';
